<div>
    <div class="navigator"></div>
    <div class="userManager"></div>
    <div class="mainContent">
        <div class="searchArea">
            <label for="">
                <input type="text" />
            </label>
        </div>
        <div class="contentHeader"></div>
        <div class="postsNavBar"></div>
        <div class=".postManager">
            <div class="feed">
                <div class="post"></div>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="spotlightAccs"></div>
        <div class="FAQ"></div>
        <footer class="privacy"></footer>
    </div>
</div>
